[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pylint-django = "*"
django-html = "*"
django = "*"
django-crispy-forms = "*"
whitenoise = "*"
gunicorn = "*"
python-decouple = "*"

[requires]
python_version = "3.8"
