{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}

{% block title%}
signup
{% endblock%}

{% block signactive %}active{% endblock %}
{% block content%}

<div class="container rounded shadow-lg px-4 py-5 mt-5 bg-white logbox">
    <h2 class="text-center"> <i class='bx bx-user'></i> Sign up</h2>
    <p  class="text-center error">{{error}}</p>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group text-center">
            {{ form.username|as_crispy_field }}
        </div>
        <div class="form-group text-center">
            {{ form.password1|as_crispy_field }}
        </div>
        <div class="form-group text-center">
            {{ form.password2|as_crispy_field }}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>

    </form>
</div>


{% endblock content%}